:root {
    --dark: #808080;
    --bright-text: #7fffd4;
    --white: #fff;
}

* {
    background-color: var(--dark);
    color: var(--bright-text);
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    flex: 0 0 100%;
}

Header p {
    color: var(--white);
    flex: 0 0 100%;
    align-self: center;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    flex: 0 0 32%;
    border: 5px solid #fff;
}

#header {
    border: 5px solid var(--bright-text);
    border-radius: 10%;
    text-align: left;
    padding: 15px;
    margin: 0 20px 0 0;
}

.card {

}

.notes {
    background-color: var(--bright-text);
    color: var(--white);
}

@media screen and (max-width: 992px){
   article {
    flex: 0 0 50%;
   }
}


@media screen and (max-width: 768px){
    article{
        flex: 0 0 100%;
    }


}